# Local Development API URL
VITE_API_URL=http://localhost:3000/api

# AWS Production (S3 / CloudFront) Build API URL Example:
# VITE_API_URL=https://api.schooloffaith.org/api
# OR Elastic Beanstalk Domain:
# VITE_API_URL=http://schooloffaith-backend-env.eba-xxxxxx.us-east-1.elasticbeanstalk.com/api
